<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/flights/index">All Flights</a>
      <a href="/flights/new">Add Flights</a>
    </nav>
    <h1>Mongoose Flight Creator</h1>
    <table>
      <thead>