<!DOCTYPE html>
<html>
  <head>
    <title>hey</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/flights">All Flights</a>
      <a href="/flights/new">Add Flights</a>
      <a href="/destinations/new">Add Destination</a>

    </nav>
    <h1>Mongoose Flight Creator</h1>
    
  </body>
</html>
