<%- include('../partials/header') %>

<p>Please first ensure that the Destination is not in the dropdown
    <select name='destination'>
        <%= flight.destinations.map(p => %>
        <option> <%= ${p.destination} %> </option>
        <% ).join('') %>
    </select>
</p>
<form id='Add-Destination' action='/destinations' method='POST'>
    <label>Destination:</label>
    <input type='text' name='destination'>
    <input type='submit' value='Add Destination'>
</form>

<%- include('../partials/footer') %>