<%- include('../partials/header') %>

<p>Please first ensure that the Destination is not in the dropdown
    <select name='destinations'>
      <% destinations.forEach(function(p) { %>
        <option name='destination'><%= ${p.destination} %></option>
      <% }) %>
    </select>
</p>
<form id='Add-Destination' action='/destinations' method='POST'>
    <label>Destination:</label>
    <input type='text' name='destination'>
    <input type='submit' value='Add Destination'>
</form>

<%- include('../partials/footer') %>