<!DOCTYPE html>
<html>
  <head>
    <title>hey</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href='/flights'>All Flights</a>
      <a href='/flights/new'>Add Flights</a>
      <a href="/destinations/new">Add Destination</a>
    </nav>
    <h1>Mongoose Flight Creator</h1>
    <table>
      <thead>
        <form id='new-form' action='/flights/create' method='POST'>
            <label>Airline</label>
            <select name='airline'>
                <option value=''></option>
              <option value='american'>American</option>
              <option value='Southwest'>Southwest</option>
              <option value='United'>United</option>
            </select>
            <label>Airport</label>
            <select name='airport'>
                <option value=''></option>
                <option value='AUS'>AUS</option>
                <option value='DFW'>DFW</option>
                <option value='DEN'>DEN</option>
                <option value='LAX'>LAX</option>
                <option value='SAN'>SAN</option>
              </select>
              <label>Flight No.</label>
            <input type='text' name='flightNo'>
            <label>Departure Date</label>
            <input type='datetime-local' name='departs'>
            <input type='submit' value='Add Flight'>
          </form>

</body>
</html>